<!DOCTYPE html>
<html>
<head>
<title>How Would You Handle This?</title>
</head>
<body>

	<h1><%= user.email %> is logged in!</h1>
	<input type="button" value="Logout" onclick="location.href = '/logout'"/>
	<input type="button" value="Create Exercise" onclick="location.href = '/createExercise'"/>
	<script>

	</script>
</body>
</html>
