<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <link href="/bootstrap/css/centralis.css" rel="stylesheet" >
  <script src="bootstrap/js/jquery.min.js"></script>
  <script src = "/bootstrap/js/clean-blog.js"></script>
  <script src="/bootstrap/js/typed.js"></script>

  <!-- font -->
     <link href="/bootstrap/css/centralis.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="noneMain">
	<ul>
	          <li class="left"><a class="logo">Centralis</a></li>
	          <li class="dropdown" style="float:right; margin-top:5px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bars fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/admin"> Home</a>
                        </li>
                        <li><a href="/createExercise"> Create Exercise</a>
                        </li>
                        <li><a href="/deleteExercise"> Delete Exercise</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
	</ul>

	
	
	<form class = "login"action="/assignDisruption" method="post">
		<h1><strong><span class="typing" ></span><strong> </h1>
		<script >
	                  $(function(){
	                      $(".typing").typed({
	                        strings: ["Round # <%=  currRound %> "],
	                        typeSpeed: 50
	                      });
	                  });
	             </script>
		
		<p>Go to Qualtrics and view student responses</p>
	
		<input type="hidden" name="currRound" value="<%= currRound %>"/>

		<input type="hidden" name="sessionID" value="<%= sessionID %>"/>
		<button type="submit" class="btn btn-outline">Next</button>
</body>
</html>