<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta http-equiv="refresh" content="5">
	<title>How Would You Handle This?</title>
	<style>
	.completeForm {
		text-align: center;
		margin-top: 190px;
	}

	.exercise {
		margin-top: 80px;
	}
	#logout {
		margin-top: 50px;
	}
	body {
		background-color: #FFCC00;
	}
	</style>
</head>
<body>
	<div class="completeForm">
		<h1><strong>Successfully Logged <%= user.email %> in!</strong></h1>
		<div class = "exercise">
		<p><em>(Tap button to create an exercise.)</em></p>
		<button id="exercise" type="button" class="btn btn-primary btn-md" onclick="location.href = '/createExercise'">Create Exercise</button>
		<button id="delete" type="button" class="btn btn-primary btn-md" onclick="location.href = '/deleteExercise'">Delete Exercise</button>
		</div>
		<br>
		<button id="logout" type="button" class="btn btn-primary btn-md" onclick="location.href = '/logout'">Logout</button>
		<button id="select" type="button" class="btn btn-primary btn-md" onclick="location.href = 'selectExercise'">Select Exercise</button>
	</div>
	<script>

	</script>
</body>
</html>
