<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/getScenario" method="post" enctype="multipart/form-data">
      <input type="file" name="myVideo"/> </br>
      Text: <textarea rows="4" cols="50" name="text">Type follow up text</textarea><br/>
      Team-based Question: <input type="text" name="question" size="50"><br/>
      Survey Questions: <input type ="number" name="survey" min="1" max="10" step="1" value="1" size="20">
      <input type="submit" value="Submit">
</form>
  </body>
</html>
