<!DOCTYPE html>
<html>
<head>
	<title>Create Session</title>
	<style>
	form {
		text-align:center;
		margin-top: 20px;
	}
	.alert {
		text-align:center;
	}
	</style>
</head>
<body>
	<h1>You have selected exercise <%=exName%>   ID: <%=exId%></h1>

		<form action = "/createRoles" method = "post">
		<%
			for (var i = 0; i < exercises.length; i++) {
			%>
				<input type = "radio" id = "<%i%>" value = "<%=exercises[i]._id%>" name = "exerciseButtons" /> <%= exercises[i].name %> <br>
			<%
			}
		%>
		<input type= "submit" value="Select" />
	</form>
</body>
</html>
