<!DOCTYPE html>
<html>
<head>
	<title>Create Session</title>
	<style>
	form {
		text-align:center;
		margin-top: 20px;
	}
	.alert {
		text-align:center;
	}
	</style>
</head>
<body>
	<h1>You have selected exercise <%=exName%></h1>
	<form action="/sessionAdmin" method="post">
		<input type = "hidden" name = "exId" value = "<%=exId%>" />
		<input type="submit" value="Create Session"/>
	</form>
</body>
</html>
