<!DOCTYPE html>
<html>
  <head>
    <title>Create Scenarios</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/bootstrap/css/centralis.css" rel="stylesheet" >
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src = "/bootstrap/js/clean-blog.js"></script>
    <!-- javascript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/typed.js"></script>


      <!-- font -->
     <link href="/bootstrap/css/centralis.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  </head>
  <body class="noneMain">
            <ul>
                      <li class="left"><a class="logo">How Would You Handle This?<img src="/images/uscmarshall.png" style="height:60px; position: absolute; right:5px; top:0px"></a></li>
            </ul>
         <h1 style="text-align: center; margin-top: 50px;"><strong><span class="typing"></span></strong></h1>
               <script >
                  $(function(){
                      $(".typing").typed({
                        strings: ["Specify Videos and Questions:  "],
                        typeSpeed: 50
                      });
                  });
             </script>
  
    <form id="formStyle" action="/getScenario" method="post" enctype="multipart/form-data">
          <div class="formNoBorder">
                <table>
                <tbody>
           

                  <tr>
                      <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls" >  
                                    <label><strong>Scenario Name: </strong></label>
                                    <input class="inputForms" type="text" name="name" placeholder ="Scenario Name">
                                  </div>
                        </div>
                  </tr>

                  <tr>
                      <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls" >
                                    <label><strong>Video URL: </strong></label>
                                    <input class="inputForms" type="text" name="myVideo" placeholder ="Video URL">
                                  </div>
                                  <label>Click share under the youtube video and copy the URL (ex: https://youtu.be/o1tj2zJ2Wvg). Otherwise, leave blank. </label>
                        </div>
                  </tr>

                   <tr>
                      <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls" >  
                                    <label><strong>Scenario Text: </strong></label>
                                    <textarea rows="4"  cols="80" type="text" name="text" placeholder ="Scenario Text"></textarea>
                                  </div>
                        </div>
                  </tr>


                  <tr>
                  <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls" >  
                                <label><strong>Round: </strong></label>
                                <input class="inputForms" type="text" name="round" placeholder ="Round">
                              </div>
                    </div>
                  </tr>
                  
                
                 
          
                 </tbody>
                </table>
      <br><br>
      <button type="submit" class="btn btnNew">Submit</button>
      <div class="divider"></div>
       <button type="submit" class="btn btnNew"  onclick="location.href = '/admin' ">Go Back</button>
    </form>

  
  </body>
</html>
