<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <link href="/bootstrap/css/centralis.css" rel="stylesheet" >
   <script src="bootstrap/js/jquery.min.js"></script>
    <script src = "/bootstrap/js/clean-blog.js"></script>
    <!-- javascript -->
   <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/typed.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form>
    <p><strong>Disruptions</strong></p>
    <% if (scenarios.length == 0) { %>
      <p>None</p>
    <% } %>
    <% for (var i = 0; i < scenarios.length; i++) { %>
      <input type = "radio" value = "<%=scenarios[i].name%>" name = "scenario" /> Name: <%=scenarios[i].name%> Round: <%=scenarios[i].round%> <br>
    <% } %>
    <button id="select" type="button" class="btn btn-outline" onclick="location.href = 'scenarioRedirect'">Add Disruption</button>
    <button id="select" type="button" class="btn btn-outline" onclick="location.href = 'homeRedirect'">Finish</button>
    </form>
  </body>
</html>
