<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><strong>Disruptions</strong></p>
    <% if (scenarios.length == 0) { %>
      <p>None</p>
    <% } %>
    <% for (var i = 0; i < scenarios.length; i++) { %>
      <input type = "radio" value = "<%=scenarios[i].name%>" name = "scenario" /> <%=scenarios[i].name%> Round: <%=scenarios[i].round%> <br>
    <% } %>
    <button id="select" type="button" class="btn btn-primary btn-md" onclick="location.href = 'scenarioRedirect'">Add Disruption</button>
    <button id="select" type="button" class="btn btn-primary btn-md" onclick="location.href = 'homeRedirect'">Finish</button>
  </body>
</html>
