<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	 <link href="/bootstrap/css/centralis.css" rel="stylesheet" >
 	 <script src="bootstrap/js/jquery.min.js"></script>
  	<script src = "/bootstrap/js/clean-blog.js"></script>
  	<!-- javascript -->
 	 <script src="/bootstrap/js/bootstrap.min.js"></script>
  	<script src="/bootstrap/js/typed.js"></script>

	  <!-- font -->
	 <link href="/bootstrap/css/centralis.css" rel="stylesheet" type="text/css">
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	
  <title>Create Exercise</title>
</head>
<body class="noneMain">
	<ul>

	          <li class="left"><a class="logo">Centralis</a></li>
	           <li class="dropdown" style="float:right; margin-top:5px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bars fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/admin"> Home</a>
                        </li>
                        <li><a href="/selectExercise"> Select Exercise</a>
                        </li>
                        <li><a href="/deleteExercise"> Delete Exercise</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

	</ul>
	<div >
		<h2 ><span class="typing"><strong> Specify the exercise name and survey links: </strong></span>  </h2>
		
		<script >
                                $(function(){
                                    $(".typing").typed({
                                      strings: ["Specify the exercise name and survey links:"],
                                      typeSpeed: 40
                                    });
                                });
                      	</script>
                     
		<div class= "formNoBorder" >
			<form action="/createScenarios" method="post">
			<h2></h2>
			<div class="row control-group">
                            		<div class="form-group col-xs-12 floating-label-form-group controls" >	
					<label><strong>Exercise Name:</strong></label>
					<input class="inputForms" type="text" name="exerciseName" placeholder ="Exercise Name">
				</div>
			</div>

			<div class="row control-group">
				<div class="form-group col-xs-12 floating-label-form-group controls">
					<label><strong>Number of Rounds:</strong></label>
					<input class="inputForms" type="number" name="numOfRounds" placeholder ="Number of Rounds">
				</div>	
			</div>	
			<div class="row control-group">		
				<div class="form-group col-xs-12 floating-label-form-group controls">
					<label><strong>CEO Survey URL:</strong></label>
					<input class="inputForms" type="text" name="ceoSurvey" placeholder ="CEO Survey URL">
				</div>
			</div>
			<div class="row control-group">
				<div class="form-group col-xs-12 floating-label-form-group controls">
					<label><strong>Team Member Survey URL:</strong></label>
					<input class="inputForms" type="text" name="teamMemberSurvey" placeholder ="Team Member Suervey URL">
				</div>
			</div>
			<div class="row control-group">
				<div class="form-group col-xs-12 floating-label-form-group controls">
					<label><strong>Observer Survey URL:</strong></label>
					<input class="inputForms" type="text" name="observerSurvey" placeholder ="Observer Survey URL">
				</div>
			</div>
			<br>
			<button type="submit" class="btn btnNew">Next</button>
			<div class="divider"></div>
         		<button type="button" class="btn btnNew" onclick="location.href = '/admin' ">Go Back</button>
			</form>
		</div>

	</div>
			
		

	
</body>
</html>
