<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/finishSession" method="post">
      <input type="hidden" name="sessionID" value="<%=sessionID%>"/>
      <input type="submit" value="Delete Session and Finish" />
    </form>
  </body>
</html>
