<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Login</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- clean -->
  <link href="/bootstrap/css/centralis.css" rel="stylesheet" >
  <script src="bootstrap/js/jquery.min.js"></script>
  <script src = "/bootstrap/js/clean-blog.js"></script>
  <script src="/bootstrap/js/typed.js"></script>

  <!-- font -->
     <link href="/bootstrap/css/centralis.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

      

  
</head>
<body class="noneMain">
            <ul>
                    <li><a class="logo">Centralis</a></li>
            </ul>
            <form action="/login" method="post">
                    <h3> <strong><span class ="typing">Administrator Login</span></strong> </h3>
                       <script >
                                $(function(){
                                    $(".typing").typed({
                                      strings: ["Administrator Login"],
                                      typeSpeed: 60
                                    });
                                });
                      </script>
                        <% if (message.length > 0) { %>
                            <h4 class="alert"><%= message %></h4>
                        <% } %>
                    <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Username</label>
                                <input class="inputForms" placeholder="Username" type="text" name="email"/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Password</label>
                                <input class="inputForms" placeholder="Password" type="password" name="password"/>
                            </div>
                        </div>
                        <br></br>
                       
                                    
                        
                    </div>
                    <button type="submit" class="btn btn-outline">Login</button>
                      <div class="divider"></div>
                     <button type="button" class="btn btn-outline" onclick="location.href = '/logout' ">Go Back</button>
            </form>

    
   

</body>





    <!-- Contact Form JavaScript -->
    <script src="/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="/bootstrap/js/contact_me.js"></script>
    <script type="/bootstrap/js/clean-blog.js"></script>
    

    <!-- Theme JavaScript -->
    
</html>
