<!DOCTYPE html>
<html>
<head>
  <title>How Would You Handle This?</title>
  <!--   Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--  JQuery -->
  <script src="bootstrap/js/jquery.min.js"></script>
  <!-- javascript -->
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/bootstrap/js/typed.js"></script>

   <!-- Custom Fonts -->
    <link href="/bootstrap/css/centralis.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
     .bgbody {
        background-image: url('/images/tommytrojan.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    </style>
</head>
<body class="bgbody">

  <ul>
      <li class= "left"><a class="logo">How Would You Handle This? <img src="/images/uscmarshall.png" style="height:60px; position: absolute; right:5px; top:0px"></a></li>

  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form class="login">
      <h1 class="whiteT" style="height:45px"> 
        <span class="typing">Please Sign In</span> 
      </h1>
      <script>
              $(function(){
                  $(".typing").typed({
                    strings: ["Welcome to ELC", "Please Sign In"],
                    typeSpeed: 100
                  });
              });
      </script>
      <br></br>
          
          
    <button id="leftButton" type="button" class="btn btn-outline" onclick="location.href = '/adminlogin'">Admin</button>
    <button type="button" class="btn btn-outline" onclick="location.href = '/studentlogin'">Student</button>

  </form>

  <div style="position:relative; text-align:center; bottom: 0px;">
    <div style="position: fixed; bottom: 1px; color: white; width:100%;">
      ©2017. Experiential Learning Center, Marshall School of Business, University of Southern California.
    </div>
  </div>

</body>
</html>
