<!DOCTYPE html>
<html>
<head>
  <title>How Would You Handle This?</title>
  <style>
    form {
      text-align: center;
      margin-top: 20px;
    }
    .alert {
      text-align: center;
    }
  </style>
</head>
<body>
  <h4>Please Sign In</h4>
    <p>
      <input type="button" value="Admin" onclick="location.href = '/adminlogin'" />
      <input type="button" value="Student" onclick="location.href = '/studentlogin'" />
      <br>
    </p>
</body>
</html>
