<!DOCTYPE html>
<html>
<head>
  <title>Select Roles</title>
</head>
<body>
	<h1>Exercise Name: //needs to pull the exercise down from the database</p></h1><br>
	Write the type of roles (The first role will be typing for team decision)<br>

</body>
</html>