<!DOCTYPE html>
<html>
<head>
  <title>Select Roles</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
		body {
			background-color: #990000;
		}
		#mainForm {
			background-color: white;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			margin-top: 230px;
		}
		.inputForms {
			border-radius: 5px;
		}
	</style>
</head>
<body>
  <form action="/display" method="post">
  <tr>
    <label for="role">Role: </label>
    <select name="role">
      <option value="ceo">CEO</option>
      <option value="team">Team Member</option>
      <option value="observer">Observer</option>
    </select>
	<input type="hidden" name="studentID" value="<%=studentID%>"/>
	<input type="hidden" name="sessionID" value="<%=sessionID%>"/>
    <input type="hidden" name="room" value="<%=roomNumber%>"/>
    <button type="submit" class="btn btn-primary btn-md">Play</button>
  </tr>
  </form>
</body>
</html>
