<!DOCTYPE html>
<html>
<head>
  <title>Select Roles</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
		body {
			background-color: #990000;
		}
		#mainForm {
			background-color: white;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			margin-top: 230px;
		}
		.inputForms {
			border-radius: 5px;
		}
	</style>
</head>
<body>
	<div id="mainForm">
		<h1><strong>Exercise Name: <%= name %></strong></p></h1><br>
		<em>Write the type of roles (The first role will be typing for team decision)</em><br>
		<form action="/createScenarios" method="post">
			<input type="hidden" name="exerciseName" value= "<%=name%>" />
			<%
			var numRoles = roles;
			for (var i = 1; i <= numRoles; i++) {
				%><p><strong>Role <%=i%>: <input class="inputForms" type="text" name= "roles"></strong> </p><%
			}
			%>
			<input type="hidden" name="numRoles" value= "<%=numRoles%>" />
			<br>
			<button type="submit" class="btn btn-primary btn-md">Add Scenarios</button>
	 	</form>
 	</div>
</body>
</html>
