<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= text %>
    </br>
    <form action="/displaySurvey" method="post">
      <input type="hidden" name="role" value="<%=role%>"/>
      <input type="submit" value="Go to Survey" />
    </form>
  </body>
</html>
