<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= text %>
    </br>
    <input type="button" onClick="location.href='/displaySurvey'" value="Go to Survey" />
  </body>
</html>
