<!DOCTYPE HTML>
<html>
<<<<<<< HEAD
<head>
	<title> Select Exercise </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta http-equiv="refresh" content="5">
	<style>
		body {
			background-color: #990000;
		}
		form {
			padding-top: 20px;
			padding-bottom: 20px;
			margin-top: 200px;
			text-align: center;
			background-color: white;
		}
	</style>
</head>
<body>
	<form action = "/createSession" method = "post">
		<h2><strong>Select an exercise:</strong></h2>
		<%
			for (var i = 0; i < exercises.length; i++) {
			%>
				<input type = "radio" id = "<%i%>" value = "<%=exercises[i]._id%>" name = "exerciseButtons" /> <%= exercises[i].name %> <br>
			<%
			}
		%>
		<br>
		<button type="submit" class="btn btn-primary btn-md">Select</button>
	</form>
</body>
</html>
