<!DOCTYPE html>
<html>
<head>
<title>How Would You Handle This? (STUDENT PAGE)</title>
</head>
<body>

	<h1><%= user.email %> is logged in!</h1>
	<a href='/logout'>Logout</a>

	<script>

	</script>
</body>
</html>