<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta http-equiv="refresh" content="5">
  <title>Student Login</title>
  <style>
    body {
      background-color: #990000;
    }
    .alert {
      text-align: center;
    }
    .completeForm {
      background-color: white;
      padding-top: 5px;
      padding-bottom: 20px;
      text-align: center;
      margin-top: 155px;
    }
    table {
      margin-right: auto;
      margin-left: auto;
    }
    .paddingTD {
      padding-bottom: 2em;
    }
    .roundTF {
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <% if (message.length > 0) { %>
      <h2 class="alert"><%= message %></h2>
  <% } %>
  <form action="/studentlogin" method="post">

    <div class="completeForm">
      <h2><strong>Student Login</strong></h2>
      <table>
        <tbody>
        <tr>
          <td class="paddingTD"><label>Room Number:</label></td>
          <td class="paddingTD"><input class="roundTF" type="text" name="roomNumber"/></td>
        </tr>
        <br>
        <tr>
            <td class="paddingTD"><label>Active Session ID:</label></td>
            <td class="paddingTD"><input class="roundTF" type="password" name="activeSessionID"/></td>
        </tr>
        <br>
       
        <br>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary btn-md">Login</button>
    </div>

  </form>

</body>
</html>
