<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <style>
    form {
      text-align: center;
      margin-top: 20px;
    }
    .alert {
      text-align: center;
    }
  </style>
</head>
<body>
  <% if (message.length > 0) { %>
      <h2 class="alert"><%= message %></h2>
  <% } %>
  <form action="/studentlogin" method="post">

      <div>
          <label>Room Number:</label>
          <input type="text" name="roomNumber"/>
      </div>

        <div>
          <label>Active Session ID:</label>
          <input type="password" name="activeSessionID"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
  </form>

</body>
</html>