<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <link href="/bootstrap/css/centralis.css" rel="stylesheet" >
  <script src="bootstrap/js/jquery.min.js"></script>
  <script src = "/bootstrap/js/clean-blog.js"></script>
  <script src="/bootstrap/js/typed.js"></script>

  <!-- font -->
     <link href="/bootstrap/css/centralis.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


  <title>Student Login</title>
</head>
<body class ="noneMain">
  <ul>
            <li class="left"><a class="logo">How Would You Handle This?</a></li>
  </ul>
  <form class= "login" action="/studentlogin" method="post">

      <h3><strong><span class="typing">Student Login</span></strong></h3>
       <script >
                  $(function(){
                      $(".typing").typed({
                        strings: ["Student Login: "],
                        typeSpeed: 60
                      });
                  });
        </script>
          <% if (message.length > 0) { %>
              <h4 class="alert"><%= message %></h4>
          <% } %>
      <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Room Number</label>
                                <input class="inputForms" placeholder="Room Number" type="text" name="roomNumber"/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Session ID</label>
                                <input class="inputForms" placeholder="Session ID" type="password" name="activeSessionID"/>
                            </div>
                        </div>
                        <br></br>
                      </div>
       </div> 
       <button type="submit" class="btn btn-outline">Login</button>
       <div class="divider"></div>
       <button type="button" class="btn btn-outline" onclick="location.href = '/logout'">Go Back</button>
    </div>

  </form>

</body>
</html>
