<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/getVideo' method="post">
      <input type="submit" name="submit" value="Get File">
    </form>
  </body>
</html>
