<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/response" method="post">
      <p>Question: <%= question %></p>
      <input type="submit" value= "Proceed" />
    </form>
  </body>
</html>
